<html>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
<body>
<div class="container">
    <h1>Listing for {{ account }}/{{ container }}</h1>
    <h4><a href="/v1/{{ account }}/">Back to {{ account }}</a><h4>
    <table class="table">
    <tr>
        <th>name</th>
        <th>last modified</th>
        <th>size</th>
        <th>content type</th>
    </tr>
    {% for obj in listing %}
        <tr>
            <td>
            <a href="./{{ obj['name'] }}">{{ obj['name'] }}</a>
            </td>
            <td>
            {{ obj.last_modified }}
            </td>
            <td>
            {{ obj.bytes }}
            </td>
            <td>
            {{ obj.content_type }}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
</body>
</html>
